body {
    margin: 0;
    font-family: Arial;
}

.topnav a {
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    padding: 30px 35px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5%;
    
    transition: font-size .25s;
}

.topnav a:hover {
    background-color: #979797;
    font-size: 35px;
}

.topnav a.active {
    background-color: #979797;
}

.games div {
    padding: 30px 30px;
    display: inline-block;
}

.games img {
    transition: transform .2s;
    margin: 0 auto;
}

.games img:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); 
}

.team div {
    padding: 30px 30px;
    display: inline-block;
}

.team div:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.team img {
    border: #ffffff 2px double;
    border-radius: 50%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.contact {
    background-color: white;
}

.socialmedia a {
    padding: 0px 5px;
    display: inline-block;
}

.socialmedia a:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.downloads div {
    display: inline-block;
    padding: 30px;
}
